
body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

#host {
  padding: 3px;
  border-bottom: solid 1px #ccc;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#host button,
#host input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 6px;
}

button,
input[type="submit"],
button[disabled]:hover {
  border: solid 1px transparent;
  background: transparent;
}

button:hover,
input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #cccccc 99%);
}

#host #message-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: column;
}

#host #center-column {
  -webkit-flex: 1;
}

#message {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}
