
html, body {
    height: 90%;
}

#receive {
  border:1px solid #FF9900;
  height:80%;
  overflow:auto;
}

#send {
  height:20%;
  width: 100%;
}

table {
  width:100%;  
}

td {
  vertical-align:text-top;
}